# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.egg-info/

# Virtual environment
.venv/
venv/

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/

downloads/

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db

# Installed packages
pip-log.txt
pip-delete-this-directory.txt

# Editor backups
*~

# Others
.env
